html,
body {
  background-color: whitesmoke;
}
.weather-app-wrap {
  width: 700px;
  margin: 30px auto;
}

.weather-app {
  padding: 30px 30px;
  border: 1px solid #0000ff;
  border-radius: 20px;
}

#city {
  line-height: 35px;
  font-size: 40px;
}

#temp {
  line-height: 35px;
  font-size: 40px;
}

#date-time {
  font-size: 22px;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
  text-transform: capitalize;
}

#weather-description {
  font-size: 18px;
}

.units-temp {
  position: relative;
  font-size: 15px;
  top: -17px;
}

.units {
  position: relative;
  font-size: 11px;
  top: -4px;
}
